.nav-container{
    background-color: black;
    color: white;
    
  max-width: 1200px;
  margin: 0 auto;
}
.nav{
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
    height: 80px;
    align-items: center;
}

.logo{
    font-size: 40px;
    font-weight: 600;
}
.left-nav{
    display: flex;
    align-items: center;
    gap: 80px;
}
ul{
    display: flex;
    gap:80px;
}
.btn{
    width: 100px;
    /* height: 30px; */
    padding: 14px 20px;
    background-color: #7B8CE5;
    color: white;
    height: 50px;
    width: 150px;
    border-radius: 25px;
}
li{
    list-style: none;
}